@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet');

body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*background: url(../images/bg1.jpg);*/
}
header
{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: lightblue;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.logo
{
    color: #069370;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    /*background: #fff;*/
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}