body
{
    margin: 0;
    padding: 0;
}
.background
{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.image-edit
{
    width: 100%;
    height: 600px;
}