@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:wght@500&display=swap');

/*
    font-family: 'Poppins', sans-serif;
    font-family: 'Handlee', cursive;
*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(39, 14, 54, 0.7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(90deg, rgba(233,152,39,1) 0%, rgba(203,149,149,1) 50%, rgba(228,91,18,1) 100%);
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Federo', sans-serif;
    font-weight: 600;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*  global */ 
.control
{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
a
{
    text-decoration: none;
    color: inherit;
}
/* Home */
.home
{
    width: 100%;
    height: 100vh;
    background: url("../hotel/hotel1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    opacity: 0.9;
}/*
.home:before()
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}*/
.bookingbutton {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
.main-heading
{
    color: #fff;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}
.title
{
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 3px 3rem rgba(0, 0, 0, 0.5);
}
.subtitle
{
    font-size: 3.6rem;
    font-weight: 300;
    font-family: 'Handlee', cursive;
    text-shadow: 3px 3px 3rem rgba(0, 0, 0, 0.5);
}
.btn
{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .1rem 2.5rem;
    border: none;
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
}
.btn-gradient
{
    background-image: var(--gradient-color);
}
.dots
{
    font-size: 1rem;
    margin-left: .5rem;
    opacity: .75;
}

/* booking  */
.booking
{
    background: #ccc;
}
.input-group
{
    margin-bottom: 1.5rem;
}
.input-label
{
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
}
.input,.option
{
    outline: none;
    border: none;
    width: 100%;
    min-height: 0.5rem;
    padding: 1rem;
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    resize: none;
}
/*-- banner-bottom --*/
.banner-bottom{
	text-align:center;
}
.agileits_banner_bottom{
	width: 70%;
    margin: 0 auto;
}
.banner-bottom h3 {
    font-size: 1em;
    color: #ffce14;
    line-height: 2.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.banner-bottom h3 span {
    display: block;
    font-size: 25px!important;
    color: #000000;
    font-weight: 500;
}
.banner-bottom h3 i{
	font-weight:300;
}
.w3ls_banner_bottom_grids{
	margin:3em 0 0;
}
.w3l_banner_bottom_grid{
	padding:2em;
	text-align:center;
	border:2px solid #999;
}
/*-- grid-effect --*/
/* General grid styles */
.cbp-ig-grid {
	list-style: none;
	padding:0;
	margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
	content: " "; 
	display: table; 
}

.cbp-ig-grid:after { 
	clear: both; 
}

/* grid item */
.cbp-ig-grid li {
	width: 25%;
    float: left;
    text-align: center;
    border-left: 1px solid #cfdbf3;
}

.cbp-ig-grid li:last-child{
	border-right: 1px solid #cfdbf3;
}

.w3_grid_effect {
    padding: 2em;
    background: rgba(52, 74, 113, 0.09);
}

/* anchor style */
.cbp-ig-grid li > a {
	display: block;
	height: 100%;
	color: #47a3da;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

/* the icon with pseudo class for icon font */
.cbp-ig-icon {
	padding: 1.5em 0 0;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.cbp-ig-icon:before {
	font-family:FontAwesome;
	font-size: 5em;
	speak: none;
	color: #0f2453;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.w3_road:before {
	content: "\f236";
}

.w3_cube:before {
	content: "\f1ad";
}

.w3_users:before {
	content: "\f0f4";
}

.w3_ticket:before {
	content: "\f1eb";
}

/* title element */
.cbp-ig-grid .cbp-ig-title {
	margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 1em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 4px;
	color:#212121;
}

.cbp-ig-grid .cbp-ig-title:before {
	content: '';
	position: absolute;
	background:#ffce14;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #ffce14;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hover styles */

.cbp-ig-grid li > .w3_grid_effect:hover {
    background: #0f2453;
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-icon {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-icon:before
 {
	color: #ffce14;
}
.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title{
	color:#fff;
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title {
	-webkit-transform: translateY(-45px);
	-moz-transform: translateY(-45px);
	-ms-transform: translateY(-45px);
	transform: translateY(-45px);
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title:before {
	background: #fff;
	margin-top: 68px;
}


@media screen and (max-width: 62.75em) {
	.cbp-ig-grid li {
		width: 50%;
	}
}

@media screen and (max-width: 25em) { 
	.cbp-ig-grid {
		font-size: 80%;
	}
}
/*-- //banner-bottom --*/
/*--main--*/
.contact-w3ls,.advantages,.banner-bottom ,.w3l-visitors-agile,.plans-section,.team{
	padding: 100px 0px;
}
h3.title-w3-agileits {
    font-size: 3em;
    color: #FFF;
	font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 1em;
    text-align: center;  
	text-transform: capitalize;
	font-family:'Oswald', sans-serif;
}
.title-black-wthree{
	color:#0f2453!important;
}
/*-- /about --*/
.about-wthree {
    padding: 5em 0 22.6em 0px;
    background: #eceef2;
}
.ab-w3l-spa {
    text-align: center;
    position: relative;
}
.w3l-slider-img {
    border: 10px solid rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 2em;
    top: 29em;
}
.w3ls-info-about {
    position: absolute;
    left: 46%;
    z-index: 99;
    padding: 2em 4.5em;
    top: 107%;
    border: 10px solid #000;
}
.w3ls-info-about h4 {
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #ffce14;
    /* margin-bottom: 11px; */
    line-height: 1.4em;
    text-transform: capitalize;
    background: #0f2453;
    padding: 10px 15px;
}
.w3ls-info-about p {
    /* margin: 0em 0 2em 0; */
    color: #ffffff;
    line-height: 2.2em;
    background: rgba(0, 0, 0, 0.85);
    font-size: 0.9em;
    letter-spacing: 2px;
}
p.about-para-w3ls {
    color: #777;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-bottom: 2em;
}
/*-- //about --*/
/*--sevices-section--*/
.advantages {
    background: url(../images/services.jpg)no-repeat;
    min-height: 350px;
    background-size: cover;
}
.advantage-block {
    padding:2em 2em;
    background: rgba(0, 0, 0, 0.52);
    text-align: center;
}
.advantage-block:hover {
    background: rgba(255, 255, 255, 0.22);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.advantage-block h4 {
    font-size: 1.5em;
    color: #fff;
    margin: 0.5em 0em 0.5em 0em;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.advantage-block p {
    font-size: 16px;
    color: #FFF;
    /* line-height: 1.8em; */
    text-align: left;
    padding-left: 3em;
    line-height: 35px;
	letter-spacing: .8px;
}
.advantage-grid {
    padding: 0;
}
.left-w3ls {
    border-right: 1px solid #b1b1b1;
}
.advantage-block .fa-credit-card,.advantage-block .fa-clock-o {
    color: #ffce14;
    font-size: 45px;
    margin-bottom: 10px;
}
.advantage-block p i {
    color: #ffce14;
    font-size: 13px;
    margin-right: 10px;
}
/*--//services-section--*/
/*-- Gallery Section --*/
#portfolio p {
    line-height: 1.8em;
    margin: 25px 0 0 0;
    font-size:1.1em;
    color: #ffffff;
    font-weight: 300;
  }
  .gallery-section h3{
     margin: 0;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 18px;
  }
  .gallery-grid {
    padding: 0;
  }
  .gallery1 {
  position:relative;
  }
  .gallery1 .textbox {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
      background-color: rgba(15, 36, 83, 0.62);
  }
  .gallery1:hover .textbox {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  .gallery-grid img{
          width:100%;
  }
  
  .textbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  text-align:center;
  }
  .textbox h4 {
      font-size: 2em;
      color: #FFF;
      margin-top: 3.5em;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 5px;
  }
  .textbox p {
       font-size: 26px !important;
      color: #fff;
      margin: 6px 0 0 0!important;
      padding: 3px 0;
  }
  .gallery-grids {
    margin-top: 50px;
  }
  .price-list ul {
    padding: 0px;
    list-style: none;
}
.price-gd-top {
    text-align: center;
    position: relative;
}
.price-gd-top h4 {
    font-size: 1.5em;
    color: #fff;
    padding: 0.4em 1em;
    background: #0f2453;
    font-weight: 300;
    position: absolute;
    top: 9.6em;
    right: 0em;
}
.price-selet h3 {
    padding: 0.2em 0em 0em 0em;
    font-size: 1.7em;
    float: left;
    margin-left: 20px;
}
.price-selet h3 span {
    color: #ef0404;
    font-size: 31px;
    margin-right: 5px;
}
.price-gd-bottom {
    background: #fff;
    text-align: center;
    padding: 1.8em 0em 1em;
}
.price-gd-top img {
    width: 100%;
}
.price-list ul li {
    padding: 0.5em 0em;
    font-size: 0.9em;
    color: #2b2b2b;
    display: inline-block;
}
.price-selet {
    padding: 1em 0em;
    text-align: center;
    background: #fff;
}
.price-selet a {
    font-size: 1.1em;
    color: #fff;
    display: block;
}
.price-selet a {
    font-size: 0.9em;
    color: #000000;
    display: inline-block;
    padding: 0.5em 2em;
    background: #ffce14;
    text-decoration: none;
    border: 2px solid #ecbf11;
}
.price-block {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.price-block:hover,.w3layouts-pricing:hover,.w3-agileits-vpn-grid:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}
/*-- contact --*/
section.contact-w3ls {
	background:url(../images/contact.jpg) no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
}
section.contact-w3ls p.contact-agile1 {
    font-size: 15px;
	letter-spacing: 1px;
    font-weight: normal;
    padding-bottom: 10px;
    line-height: 29px;
    color: #fff;
}
section.contact-w3ls p.contact-agile1 strong {
    font-family: 'Federo', sans-serif;
    letter-spacing: 1.5px;
    color: #ffce14!important;
	font-size: 16px;
}
section.contact-w3ls p.contact-agile1 a {
	color:#fff;
}
section.contact-w3ls .contact-agileits,.contact-w3-agile1 {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 20px 35px;
}
section.contact-w3ls h4 {
	font-size:35px;
	letter-spacing: 1.5px;
	font-weight:normal;
	color:#fff;
	padding-bottom:20px;
	font-family: 'Federo', sans-serif;
	text-align:center;
}
section.contact-w3ls p.contact-agile2 {
	font-size:16px;
	font-weight:normal;
	padding-bottom:20px;
	line-height:30px;
	color:#ffce14;
	text-align:center;
}
section.contact-w3ls label.contact-p1 {
    font-size: 17px;
	letter-spacing: 1px;
    font-weight: 300;
    color:#fff;
    padding-bottom: 10px;
	font-family: 'Federo', sans-serif;
}
.form-group {
    margin-bottom: 5px;
}
section.contact-w3ls p.help-block {
    color:#ff0500!important;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone  {
	height:37px;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone {
	font-size:17px;
	font-weight:normal;
	color:#fff;
	background-color:transparent;
	border-radius:0;
	border-color:#fff;
	font-family: 'Lato', sans-serif;
}
section.contact-w3ls button.btn.btn-primary {
	color:#ffce14;
    background-color:transparent;
    border: 2px solid #ffce14;
    font-size: 17px;
    padding: 10px 20px;	
	width:100%;
	font-family: 'Federo', sans-serif;
	margin: 25px 0 8px;
}
section.contact-w3ls button.btn.btn-primary:hover {
	color: #fff;
    background-color:#ffce14;
    border: 2px solid #ffce14;
}
input::-webkit-input-placeholder {
color: #fff !important;
} 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
} 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
} 
input:-ms-input-placeholder {  
color: #fff !important;  
}
.footer-icons-agileinfo{
	margin-left:0!important;
}
.contact-w3-agile1 iframe {
    width: 100%;
    height: 190px;
    margin-top: 1.5em;
    outline: none;
    border: none;
}
/*-- contact --*/
/*Copy right*/
.copy {
    text-align: center;
    background: #0f2453;
}
.copy p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 1em;
}
.copy p a {
    color: #ffce14;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
	color:#fff;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*arrow*/
.arrow
{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: grey;
    border-radius: 50%;
}
.arrow img
{
    width: 20xp;
    height: 20px;
    z-index: 1;
}
@media(max-width:768px){
	.book-form form input[type="submit"] {
		font-size: 13px;
	}
	.banner-bottom h3 span {
		font-size: 16px!important;
	}
	.banner-bottom h3 {
		font-size: 13px;
	}
	.w3_grid_effect {
		padding: 1.5em;
	}
	.cbp-ig-icon:before {
		font-size: 2.5em;
	}
	.cbp-ig-grid .cbp-ig-title {
		font-size: .8em;
	}
	p.about-para-w3ls {
		font-size: 14.5px;
	}
	.w3l-slider-img {
		top: 20.5em;
	}
	.w3ls-info-about h4 {
		font-size: 1.1em;
	}
	.w3ls-info-about p {
		font-size: 0.8em;
	}
	.w3ls-info-about {
		left: 36%;
		top: 105.5%;
		width: 64%;
	}
	.advantage-block h4 {
		font-size: 19px;
		margin: 0.8em 0em 0.2em 0em;
	}
	.advantage-block p {
		font-size: 14.5px;
		line-height: 33px;
	}
	.resp-accordion img{
		border-radius: 50%;
		   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
		-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
		-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
		-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
		-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	}
	h2.resp-accordion:first-child,h2.resp-accordion {
		border-top: none !important;
		border:none!important;
	}
	.w3layouts_work_grid_left_pos img {
		border: 7px solid #ffffff;
	}
	.team-Info-agileits p {
		font-size: 14.5px;
	}
	.team-Info-agileits h4 {
		font-size: 20px;
	}
	.w3layouts_work_grid_right p {
		font-size: 14.5px;
		line-height: 2em;
	}
	.flex-control-paging li a {
		font-size: 13px;
	}
	h3.title-w3-agileits {
		font-size: 2em;
		letter-spacing: 2px;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.1em;
	}
	.contact-w3ls, .advantages, .banner-bottom, .w3l-visitors-agile, .plans-section, .team {
		padding: 55px 0px;
	}
	.about-wthree {
		padding: 4em 0 15.9em 0px;
	}
	.about-wthree {
		padding: 3em 0 13.9em 0px;
	}
}
@media(max-width:480px){
	.banner-top .social-bnr-agileits {
		float: none;
		text-align: center;
		margin: 10px 0;
	}
	.search_form {
		top: 89px;
	}
	.search_box:checked~.search_form {
		top: 87px;
	}
	.contact-bnr-w3-agile ul li {
		padding: 10px 20px;
	}
	.navbar-brand {
		font-size: 20px;
	}
	p.logo_w3l_agile_caption {
		letter-spacing: 2.2px;
		line-height: 17px;
	}
	.navbar-toggle .icon-bar {
		width: 19px;
	}
	.navbar-default .navbar-toggle {
		margin-top: 5px!important;
		padding: 7px 8px;
	}
	nav.navbar.navbar-default {
		padding: .58em 0 0em 0;
	}
	.agileits-banner-info h4 {
		font-size: 1.5em;
		letter-spacing: 10px;
	}
	.agileits-banner-info p {
		margin: .5em auto;
		letter-spacing: 4px;
	}
	.agileits-banner-info {
		padding: 2em 0em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 250px;
	}
	.callbacks_tabs {
		top: 46.5%;
		left: 39.9%;
	}
	.thim-click-to-bottom {
		left: 47.5%;
	}
	.book-form form input[type="submit"] {
		margin: .9em 0 0 11em;
	}
	.banner-bottom h3 {
		letter-spacing: 1.5px;
	}
	.cbp-ig-grid .cbp-ig-title {
		font-size: .7em;
	}
	.cbp-ig-grid .cbp-ig-category {
		font-size: .75em;
	}
	p.about-para-w3ls {
		font-size: 14px;
	}
	.w3ls-info-about {
		left: 0%;
		width: 100%;
		top: 108.5%;
	}
	.about-wthree {
		padding: 2.6em 0 12em 0px;
	}
	.advantage-block p {
		font-size: 14px;
		line-height: 30px;
	}
	.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile {
		min-height: 360px;
		width: 83%;
		margin: 0 auto;
		float: none;
	}
	.team-Info-agileits {
		padding: 1.5em 0 0 1.9em;
		width: 100%;
		float: none;
	}
	.team-Info-agileits p {
		font-size: 14px;
	}
	.team-Info-agileits span {
		font-size: 11px;
	}
	.team-Info-agileits h4 {
		font-size: 19px;
	}
	.tpl6 .dmbutton {
		margin: 70px 5px 20px 5px;
	}
	.viewbox-button-next, .viewbox-button-prev {
		top: 58%;
	}
	.priceing-table-main {
		width: 61%;
	}
	.price-gd-top h4 {
		top: 12.8em;
		font-size: 1.1em;
	}
	.price-selet h3 {
		font-size: 1.3em;
	}
	.price-selet h3 span {
		font-size: 27px;
	}
	.price-selet a {
		padding: 0.2em 1.5em;
	}
	.flex-control-nav li {
		margin: 9px 0;
	}
	.flex-control-nav {
		top: 13%;
	}
	h3.title-w3-agileits {
		font-size: 1.6em;
	}
	.w3layouts_work_grid_right p {
		font-size: 14px;
		letter-spacing: 0.5px;
		line-height: 30px;
	}
	.w3layouts_work_grid_right h4 {
		font-size: 12px;
	}
	section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone {
		height: 30px;
	}
	section.contact-w3ls button.btn.btn-primary {
		padding: 5px 20px;
	}
	section.contact-w3ls label.contact-p1 {
		font-size: 14px;
		padding-bottom: 2px;
	}
	.contact-w3-agile2, .contact-w3-agile1 {
		width: 100%;
	}
	.copy p {
		font-size: 13px;
		line-height: 29px;
		padding: 10px 20px;
	}
}
